#header {
    padding: 10px;
}

#logo {
    display: inline-block;
    font-size: 18pt;
}

#btnCompile {
    float: right;
    height: 100%;
}

#bodyContent {
    margin: 10px;
}

#inputText {
    resize: none;
}

footer {
    font-size: 9pt;
    margin-top: 20px;
    text-align: center;
}
