/* Header and navbar */
#header {
    height: 45px;
    padding: 5px;
}

#logo {
    display: inline-block;
    font-size: 18pt;
}

#btnVerbose, #btnCompile {
    float: right;
    margin-right: 10px;
}

/* Body */
body {
    overflow-y: scroll;
}

#bodyContent {
    margin: 0px auto;
    padding-bottom: 15px;
    padding-top: 15px;
    width: 90%;
}

#bodyContent > div {
    margin-bottom: 10px;
}

#inputText {
    overflow-x: auto;
    resize: none;
    width: 96%;
}

#logger {
    border: 1px solid black;
    display: block;
    float: right;
    height: 208px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 5px;
    width: 96%;
}

.log {
    margin: 5px 0px 5px 5px;
}

div.status {
    display: inline-block;
    font-size: 0.7em;
    height: 100%;
    margin-right: 5px;
    margin-top: 9px;
    vertical-align: top;
    width: 70px;
}

div.message {
    display: inline-block;
    margin-top: 5px;
    vertical-align: bottom;
    width: 73%;
}

.tab-content {
    height: 360px;
    overflow-x: none;
    overflow-y: auto;
}

ul > li.active {
    font-weight: bold;
}

.table {
    margin-bottom: 0px;
}

#tokenTable td {
    padding: 5px;
}

/* Footer */
footer {
    font-size: 9pt;
    margin-top: 20px;
    text-align: center;
}
